@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
} 

.btnc{
    text-align: center;
}

.btn{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(82, 195, 3);
    border: none;
}

#hero {
    height: 919px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 1023px;
} 

#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 60px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
} 

#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 32px;
} 

#card-box{
    width: 1320px;
    margin: 167px auto;
} 

#card-box .title {
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
} 

#card-box .subtitle {
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
} 

.card-container{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-family: Work Sans;
} 

.card{
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
} 

.card .image-box{
    width: 424px;
} 

.card .image-box img {
    width: 100%;
} 

.card .shop {
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
} 

#about{
    display: flex;
    width: 1920px;
    height: 671px;
    justify-content: space-evenly;
} 

.about-img img{
    width: 960px;
    height: 671px;
}

.about-content{
    justify-content: center;
    align-items: center;
    width: 960px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.about-h{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    width: 805px;
    height: 128px;
} 

.about-p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    margin-top: 20px;
} 

.follow{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 70px;
} 

.icons{
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
} 

.icons img{
    width: 100%;
    height: 100%;
    margin-left: 35px;
}

